
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #efe2ba;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(243, 215, 164);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

h1 a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #000;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    padding: 1rem;
}

nav a:hover {
    color: white;
}


footer {
    background-color: rgb(243, 215, 164);
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}

.brand h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

@media (max-width: 1200px) {
    .product-card {
        flex: 1 1 calc(50% - 2rem); /* Two columns */
        max-width: calc(50% - 2rem);
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 0.5rem 0;
    }


}



.dropdown {
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(169, 96, 96);
    background-color: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(243, 215, 164);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(243, 215, 164);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(243, 215, 164);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: auto;
    max-height: auto;
}

.sign-up-box {
    background-color: #b69797;
    height: 500px;
    width: 500px;
}

.sign-up-box h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;

}



.inputs{
    display: flex;
    flex-direction: column;

}

.input-username{
    position: relative;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    margin: 10px;
    border-radius: 4px;
}

.input-email{
    position: relative;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    margin: 10px;
    border-radius: 4px;
}

.input-psw {
    position: relative;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    margin: 10px;
    border-radius: 4px;

}



.sign-up-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-btn {
    height: 50px;
    width: 100px;
    margin: 10px;
    text-align: center;
    background-color: rgb(243, 215, 164);
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 

}

.sign-up-btn:hover {
    background-color: rgb(246, 201, 123);
}


